{% extends "base.html" %}

{% block title %}
    <title>Quiz App</title>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <!-- MAIN SECTION  -->
    <div class="mainDiv d-flex justify-content-center align-items-center">
        <div class="askDiv">
            <h3 class="text-center">Welcome To Online Quiz Application</h3>
            <form method="post">
                {{ form.csrf_token }}
                {{ form.category.label }} {{ form.category }}
                {{ form.quiz_type.label }} {{ form.quiz_type }}
                {{ form.quantity.label }} {{ form.quantity }}
                <button type="submit">Start Quiz</button>
            </form>

        </div>
    </div>
{% endblock %}