{% extends "base.html" %}

{% block title %}
    <title>Quiz App</title>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <!-- MAIN SECTION  -->
    <div class="mainDiv d-flex justify-content-center align-items-center">
        <div class="askDiv">
            <h3 class="text-center">Gotowa na Harry Pota Test ?!!!11</h3>
            <form method="post">
                {{ form.csrf_token }}
                {{ form.decision.label }} {{ form.decision }}
                <button type="submit">JEDZIEMY</button>
            </form>

        </div>
    </div>
{% endblock %}